@import "_config.scss";

header {
    position: relative; 
    display: block;
    width: 100%;
    background: $black;
    color: $white; 
    height: 90px; 

    // Because of tree structure of SCSS, you don't have to do
    // "header.logo" seperately - you can just branch logo directly in the header brackets
    .logo {
        position: absolute;
        top: 50%; left: 15px; 
        //call in mixin to translate y
        @include translateY(-50%);
    }
    //specific nav targeting
    nav, 
    nav ul, 
    nav ul li {
        margin: 0;
        padding: 0; 
        
    }
   


    //global nav 
    nav {
        position: absolute;
        top: 50%; right: 15px; 
        //call in mixin to translate y
        @include translateY(-50%);

     // list items targeting
     ul li {
        list-style-type: none;
        display: inline-block;
        margin-right: 10px; 
     

    &,last {
        margin: 0;
    }

    a {
        font-size: 19px;
        line-height: normal;
        color: $white; 
        margin-right: 10px; 

        &:hover {
            color: red; 
        }
       
    }




     }


    }



}